<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Delete User</title>
</head>
<body>
<h1>Delete Users</h1>
<div class ="row">
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
        <ul class=flshes>
        {% for cateogry, message in messages %}
        <li class="{{category}}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% if current_user.username == 'groupadmin' %}
        <form method = "POST" action = "">
            {{form.hidden_tag()}}

            {{form.username}}<br><br>

            {{form.submit}}
        </form>
    {% else %}
        <p>Not autorized to access this page</p>
    {% endif %}

</div>
</body>
</html>