
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Multi Web Chat</title>
    <style>
      .message_holder {
      background-color: white;
      width: 400px;
      height: 300px;
      border: 4px dotted blue;
      padding: 30px;
      margin: auto;
      background-position:center;
      }
    </style>
  </head>
  <body>

    <P style = "margin-left:450px;">Chat Room:<b>{{group}}</b></p>
    <div id="logoff" style = "margin-left:1200px;">
      <a href="{{url_for('manage_users')}}" onclick = "left()">Leave Chat</a>
    <a href="{{url_for('logout')}}" onclick = "left()">Logout</a>
    </div>

    <div class="message_holder">
      <h3 style='color: #ccc;font-size: 15px;top:400px;'>{{current_user.username}} entered into chat</h3>
      {% if left_chat %}
      <h3 style='color: #ccc;font-size: 15px;top:400px;'>{{current_user.username}} left the chat</h3>
      {% endif %}
    </div>

    <form action="" method="POST">
      <br>
      <input style="margin-left:440px" size ="50" type="text" class="message" placeholder="Type a message here"/>
      <input type="submit", value="send"/>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      let user_name = '{{user}}';
      var left_chat = false;
      function left() {
      $( 'div.message_holder' ).append( '<div><b style="color: #000">'+current_user.username + ':' +'</b> '+'left the chat'+'</div>' )
      }
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name + ':' +'</b> '+msg.message+'</div>' )

        }
      })
    </script>

  </body>
  </html>